navbar-nav .nav-link {
    color: #cca6ba !important;
}

.navbar-nav .nav-link:hover {
    color: rgba(0,0,255,0.3);!important;
}

body {
    font-family: "Gill Sans", sans-serif;
}

#blogtitle {
    font-size: 15rem;
}

@media (min-width: 992px) {
    #hometext {
        font-size: 3rem;
    }
    #blogdetailtitle {
        font-size: 5rem;
    }
}